Source: fiona
Maintainer: Debian GIS Project <pkg-grass-devel@lists.alioth.debian.org>
Uploaders: Johan Van de Wauw <johan@vandewauw.be>
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               dh-sequence-python3,
               gdal-bin,
               libgdal-dev,
               cython3 (>= 0.29.29),
               pybuild-plugin-pyproject,
               python3-all,
               python3-all-dev,
               python3-attr,
               python3-boto3,
               python3-certifi,
               python3-click-plugins,
               python3-cligj,
               python3-munch,
               python3-pytest,
               python3-setuptools,
               python3-tz
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/debian-gis-team/fiona
Vcs-Git: https://salsa.debian.org/debian-gis-team/fiona.git
Homepage: https://github.com/Toblerity/Fiona
Rules-Requires-Root: no
Testsuite: autopkgtest-pkg-pybuild

Package: python3-fiona
Architecture: any
Depends: ${python3:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Description: Python 3 API for reading/writing vector geospatial data
 Fiona is a Python wrapper around the OGR vector data abstraction library.
 Fiona is designed to be simple and dependable. It focuses on reading
 and writing data in standard Python IO style and relies upon familiar
 Python types and protocols such as files, dictionaries, mappings, and
 iterators instead of classes specific to OGR. Fiona can read and write
 real-world data using multi-layered GIS formats and zipped virtual
 file systems and integrates readily with other Python GIS packages
 such as pyproj, Rtree, and Shapely.
 .
 This package provides the Python 3 API

Package: fiona
Architecture: any
Section: science
Depends: python3-fiona (= ${binary:Version}),
         python3-click-plugins,
         ${python3:Depends},
         ${misc:Depends}
Description: Command line tool for reading/writing vector geospatial data
 Fiona is a Python wrapper around the OGR vector data abstraction library.
 Fiona is designed to be simple and dependable. It focuses on reading
 and writing data in standard Python IO style and relies upon familiar
 Python types and protocols such as files, dictionaries, mappings, and
 iterators instead of classes specific to OGR. Fiona can read and write
 real-world data using multi-layered GIS formats and zipped virtual
 file systems and integrates readily with other Python GIS packages
 such as pyproj, Rtree, and Shapely.
 .
 This package provides the fiona command line tools
